body {
  font-family: "Libre Baskerville", serif;
}

.logoEstilo {
  width: 150px;
}

.iconoEstilo {
  width: 50px;
  height: 50px;
  margin-right: 5px;
  padding: 10px;
  transition: all 500ms;
}
.iconoEstilo.Traslado:hover {
  transform: scale(1.2);
}

#header ul li a {
  text-align: center;
}
#header ul li {
  list-style: none;
  display: inline-block;
}
@media all and (max-width: 414px) {
  #header .navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  #header .navbar .navbar-nav {
    display: inline-flex;
    flex-direction: column;
  }
  #header .logoEstilo {
    width: 80px;
  }
}

a {
  text-decoration: none;
  font-size: 20px;
  color: #3b4a42;
}

.navItemEstilo {
  padding-left: 4rem;
}

.headerNav {
  color: #2176ff;
}

#Principal .contentPrincipal {
  margin-top: 50px;
  margin-bottom: 50px;
}

h3 {
  display: block;
  margin-block-end: 0.67em;
  text-align: center;
  margin-top: 1.2em;
}

#footer {
  width: 100%;
  height: 120px;
}
#footer .contentFooter {
  width: 100%;
  background: #959994;
  background: linear-gradient(90deg, #959994 0%, #a1afb3 41%, #dea7ee 100%);
}
#footer .contentFooter .navFooter {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
#footer .contentFooter .navItemFooter {
  padding-left: 4rem;
}
#footer .contentFooter .redes {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
@media all and (max-width: 414px) {
  #footer .contentFooter .navFooter {
    display: flex;
    flex-direction: column;
    flex-wrap: unset;
    justify-content: center;
    align-items: center;
  }
}

#coleccion .contentCol {
  margin-top: 50px;
}
#coleccion .parrafoEstiloCard {
  padding-top: 15px;
  font-size: 1.3em;
  text-align: justify;
  color: #29526a;
  font-weight: bold;
}
#coleccion .btnEstiloCol {
  color: #fff;
  background-color: #3d3740;
  border-color: black;
}
#coleccion .cardEstilo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#mujer {
  width: 100%;
}

#productoMujer .producto {
  padding: 15px;
}
#productoMujer .btnEstilo {
  color: #fff;
  background-color: #3d3740;
}
#productoMujer .textEstilo {
  font-size: 1.2rem;
}

#cuenta {
  height: 800px;
  width: 100%;
}
#cuenta .cuentaEstilo {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 60px;
}
#cuenta .cuentaEstilo .btnEstiloCuenta {
  color: #fff;
  background-color: #3d3740;
}

#contentNosotros .NostrosEstilo {
  margin: 15px;
}
#contentNosotros .parrafoEstilo {
  padding-top: 15px;
  font-size: 1.3em;
  text-align: justify;
  color: #29526a;
}

#contentGuia {
  width: 100%;
  height: 800px;
}
#contentGuia .guiaEstilo {
  width: 70%;
  height: 100%;
}
#contentGuia .guiaEstilo .cardEstilo {
  color: black;
}
#contentGuia .guiaEstilo .cardEstilo .btnCard {
  color: #6f5454;
  text-decoration: none;
  text-transform: uppercase;
}
#contentGuia .guiaEstilo .cardEstilo .cardBodyEstilo {
  font-size: large;
  text-align: justify;
}

#contacto {
  height: 800px;
}
#contacto .contactoEstilo {
  display: inline-block;
  height: 800px;
  margin-left: 40px;
  margin-right: 40px;
}
#contacto .contactoEstilo .btnContacto {
  color: #fff;
  background-color: #3d3740;
  border: black;
}

#contentPreguntas {
  height: 800px;
}
#contentPreguntas .preguntasEstilo {
  width: 70%;
  height: 100%;
}
#contentPreguntas .preguntasEstilo .cardEstiloPreguntas {
  color: black;
}
#contentPreguntas .preguntasEstilo .cardEstiloPreguntas .btnCardPreguntas {
  color: #6f5454;
  text-decoration: none;
}

/*# sourceMappingURL=estilo.css.map */
