#contacto{
   
     height:$height;
     width: 100%;


      .contactoEstilo{

            height:$height;
            width: 50%;
            margin-left:100px;

          .btnContacto{
              color: #fff;
              background-color:#3d3740;
              border:black;
          }

          

      }




}