#contacto{
     width: 100%;
       
      .contactoEstilo{
             display: inline-block;

            height:$height;
            margin-left: 40px;
           margin-right: 40px;
           margin-top:50px;
          .btnContacto{
              @include boton;
              border:black;
              font-size: 1em;
              font-style: italic;
             
          }

          

      }




}