#cuenta{
    height:800px;
    width: 100%;
   
         .cuentaEstilo{  

              height: 500px;
              width: 45%;
                margin: 30px;
					  .btnEstiloCuenta{

										color: #fff;
							    background-color:#3d3740;
							    
					  }

			}

}