#cuenta{
    height:1000px;
    width: 100%;
   
         .cuentaEstilo{  
               display: flex;
               flex-direction: column;
               align-items:center;
                margin-top: 60px;
					  .btnEstiloCuenta{

										color: #fff;
							    background-color:#3d3740;
							    
					  }

			}

}