#contentGuia{

			   .guiaEstilo{
                 height: 500px;
			     display: flex;
                 flex-direction: column;
                 width: 500px;
				  margin: 50px;
					     .cardEstilo{
							           color: black;

							        .btnCard{
							            color:#6f5454;
							            text-decoration: none;
				                        text-transform: uppercase;
				                        box-shadow: none; 
							        } 

				                 .cardBodyEstilo{
				                 	font-size: large;
				                 	  text-align: justify;
				                 }

					     }

					    

			   }

}