#contentGuia{

			width:100%;
		    height: 800px;

			   .guiaEstilo{

					       width: 70%;
					       height: 100%;
					      
					       
					     .cardEstilo{
							           color: black;

							        .btnCard{
							            color:#6f5454;
							            text-decoration: none;
				                        text-transform: uppercase
							        } 

				                 .cardBodyEstilo{
				                 	font-size: large;
				                 	  text-align: justify;
				                 }

					     }

					    

			   }

}