body {  
    font-family:'Libre Baskerville', serif;
  }

  .logoEstilo{
	width: 150px;

}

  .iconoEstilo {
	width: 50px;
	height: 50px;
  margin-right: 5px;
     padding: 10px;
     transition:all 500ms;
     &.Traslado:hover{
         transform: scale(1.2);
     }
}
   

   


#header{
	
            

              ul li a{
		            text-align: center;
		       
		             }


		    ul li   {
		                list-style:none;
		                display: inline-block;   
		              
		            }

        }
                   a {
		                text-decoration: none;
		                font-size: 20px;
		                color:#3b4a42;
		            }

             .navItemEstilo{
               padding-left: 4rem;
             
              }

              .Iconos{
                
              }

      @media all and (min-width: 360px){
               
      }


.headerNav{
	color: #2176ff;
}


   #Principal{

   }
  #contentPrincipal{
	
                        }
 h3{
 	display:block;
 margin-block-start: 0.67em;
 margin-block-end: 0.67em;
   text-align: center;
 }

 #footer{
        width: 100%;
         height:180px;
       
         
         .contentFooter{
     	      height: 100%;
            width: 100%;
    					
        background: rgb(149,153,148);
        background: linear-gradient(90deg, rgba(149,153,148,1) 0%, rgba(161,175,179,1) 41%, rgba(222,167,238,1) 100%);
         
         .navFooter{
          display: flex;
          flex-direction: row;
          justify-content: space-around;
         }
         .navItemFooter {
            padding-left: 4rem;
         }
         .redes{
            display: flex;
            flex-direction: row;
            justify-content: center;
         }

         }


         
  }

 

