
#productoMujer {
             .tituloMujer{
             	@include h1;
             	color: $bcolor;
             }
			.producto{
						padding: 15px;

						}

				.btnEstilo{
					@include boton;
					border:black;
				}	

				.textEstilo{
					font-size: 1.2rem;
				}
				
}


