
#productoMujer
 {
     .tituloMujer{
      @include h1;
       color: $bcolor;
       margin: 20px;
       background-color:#e7c2ec;
       padding: 5px;
      }
	 .producto{
	  padding: 15px;
		}

		.btnEstilo{
		 @include boton;
		 border:black;
		 }	
		.textEstilo{
		font-size: 1.2rem;
		}
				
}


