#coleccion{

       .contentCol{
         margin-top: 50px;

       }

         
 
 .parrafoEstiloCard{
          padding-top: 15px;
         font-size:1.3em;
        color:#29526a;
         font-weight: bold;
}
        .btnEstiloCol{

        	color:$colorb;
		    background-color:$bcolor;
		    border-color: black;
        box-shadow: none;
        }  

      .cardEstilo{
          display:flex;
          flex-direction: column;
          justify-content: center;
          
   }

    
}
