#coleccion{

       .contentCol{
         margin-top: 50px;
       }

         
 
 .parrafoEstiloCard{
          padding-top: 15px;
         font-size:1.3em;
         text-align: justify;
        color:#29526a;
         font-weight: bold;
}
        .btnEstiloCol{

        	color: #fff;
		    background-color:#3d3740;
		    border-color: black;
        }  

      .cardEstilo{
          display:flex;
          flex-direction: column;
         align-items:center;
          
   }

    
}
