
#contentNosotros{
     height: 1000px;
   .NostrosEstilo{
   	margin-top: 30px;
   	margin-left: 15px;
   	margin-right: 15px;
   }
   .parrafoEstilo{
   	    padding-top: 20px;
       font-size:1.3em;
         text-align: justify;
        color:#29526a;
   }
}