
#contentNosotros{
     
   .NostrosEstilo{
   	margin-top: 30px;
   	margin-left: 15px;
   	margin-right: 15px;
   }
   .parrafoEstilo{
   	   padding: 20px;
       font-size:1.3em;
         text-align: justify;
        color:#29526a;
        border-color: grey;
        border-style: double;
        margin-bottom:10px;
        margin-top:10px;
   }
}