

#contentPreguntas{
           
            height:$height;

          .preguntasEstilo{
              
             width: 70%;
		     height: 100%;
           

           .cardEstiloPreguntas{
               color: black;

           .btnCardPreguntas{
           	                 color:#6f5454;
							 text-decoration: none;
				            
           }
          }


           }

















}