#contentPreguntas{
           
            height:800px;

          .preguntasEstilo{
              
              height: 500px;
              
              background-color: #bab2c1;
              color: white;
          }


















}