

#contentPreguntas{
              
        width:100%;
          height:$height;
            margin-top: 70px;

          .preguntasEstilo{
               display: flex;
               flex-direction: column;
               width: 500px;

           .cardEstiloPreguntas{
               color: black;

           .btnCardPreguntas{
           	     color:#6f5454;
							 text-decoration: none;
				      box-shadow: none;   
           }
          }


           }

















}